<div class="container">
<h1>Stupid Coaching</h1>

<div class="question">
  <p><strong><%= @question %></strong></p>
  <p><em>-You, [<%= Time.now %>]</em></p>
</div>

<div class="answer">
  <p><strong><%= @answer %></strong></p>
  <p><em>-Your coach, [<%= Time.now %>]</em></p>
</div>
<br>
<%= link_to "Ask a new question", ask_path %>
</div>
